<h1>指定した時間にメールがくる</h1>
<%= form_with(model: @message, local: true) do |f| %>
  <%= f.label :body, "文章" %>
  <%= f.text_field :body %>
    <br>
  <%= f.label :time, "時間" %>
  <%= f.datetime_field :executed_time %>
    <br>
  <%= f.submit%>
<% end %>
<%= link_to "ログアウト", logout_path , method: :delete%>
