<h1>ユーザー登録</h1>
  <%= form_with(model: @user, local: true) do |f| %>
      <%= f.label :email ,"Email" %>
      <%= f.email_field :email %>
    <div>
      <%= f.label :password,"Password" %>
      <%= f.password_field :password%>
    </div>

    <%= f.submit "登録"%>
  <% end %>
<div >
  <%= link_to "ログインページへ", login_path %>
</div>
