<h1>ログイン</h1>
	<%= form_with url: login_path, local: true do |f| %>
		<div>
		<%= f.label :email %>
		<%= f.email_field :email%>
		</div>
		<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
		</div>
		<%= f.submit "ログイン" %>
	<% end %>
<%= link_to "登録ページへ", new_user_path %>
<%= link_to "パスワードお忘れの方はこちら", "#" %>

<div id="g_id_onload"
    data-client_id=<%= ENV['GOOGLEAUTH_ID'] %>
    data-login_uri="http://localhost:3000/callback"
    data-auto_prompt="false">
</div>
<div class="g_id_signin"
    data-type="standard"
    data-size="large"
    data-theme="outline"
    data-text="sign_in_with"
    data-shape="rectangular"
    data-logo_alignment="left"
		data-width=400
		>

</div>
